<div class="container-fluid">
  <legend style="font-size: 25px; text-align: center">历史记录</legend>

  <table class="table table-striped table-bordered table-responsive" style="table-layout:fixed;">
    <thead>
      <tr>
        <th>ID</th>
        <th width="400">页面地址</th>
        <th>备注</th>
        <th colspan="2">详情</th>
      </tr>
    </thead>
    <tbody width="1000px">
          <% @numbers.each do |number| %>
            <tr>
            <th rowspan="<%= render_need_row_no(number) %>">
              【ID:<%= number.id %>】
              【<%= number.created_at.in_time_zone(8).strftime("%y-%m-%d %H:%M") %>】
            </th>
            <% number.analyzes.each do |analyze|  %>
            <td rowspan="3" style="word-wrap:break-word;"><%= link_to analyze.domain, analyze.domain %></td>
            <td rowspan="3" style="word-wrap:break-word;"><%= analyze.remarks %></td>
            <th>Title:</th>
            <td style="word-wrap:break-word;"><%= analyze.title %></td>

              <tr>
                <th>Description:</th>
                <td style="word-wrap:break-word;"><%= analyze.description %></td>
              </tr>

              <tr>
                <th>Keywords:</th>
                <td style="word-wrap:break-word;"><%= analyze.keyword %></td>
              </tr>


          <% end %>
          </tr>
        <% end %>
    </tbody>
  </table>

</div>
